<div style="text-align: center">
        <img src="{{MEDIA}}title.png" style="max-height: 530px">
</div>

<p>
    Хрестики і нулики - це гра для двох гравців (Х і О), які розставляють ці знаки на полі 
    розміром 3х3. Гравець, який зумів розмістити три своїх знака в будь-якій горизонталі, 
    вертикалі або діагоналі - виграє. 
</p>

<p>
    Але зараз ми не будемо грати в цю гру. Ви будете арбітрами цієї гри, і будете оцінювати 
    результат цієї гри. Вам задано результат гри, і ви повинні вирішити, хто переміг або що це нічия. 
    Ваша функція повинна повернути <b>"X"</b> якщо переміг Х-гравець і <b>"О"</b> якщо переміг О-гравець. 
    У разі нічиї, результат повинен бути <b>"D"</b>.
</p>

<p style="text-align: center;">
    <img title="x-o-referee" src="{{MEDIA}}x-o-referee.png" alt="x-o-referee" style="max-height: 325px"/>
</p>


<p>
    Результати гри представлений у вигляді {% if is_js %}масива{% else %}списка{% endif %} рядків, де <b>"X"</b> і <b>"O"</b> - це позначки 
    гравців і <b>"."</b> - це порожня клітинка.
</p>


<p>
    <strong>Вхідні дані:</strong> Результат гри у вигляді {% if is_js %}масива{% else %}списка{% endif %} рядків (unicode).
</p>

<p>
    <strong>Вихідні дані: </strong> <b>"X"</b>, <b>"O"</b> або <b>"D"</b> у вигляді рядка.
</p>


<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p class="for_info_only">
    <strong>Як це використовується:</strong>
    <i>
        Це завдання допоможе вам краще зрозуміти, як працювати з матрицями і вкладеними масивами. 
        Ну і звичайно, це буде корисно при розробці ігор, так як треба вміти оцінювати її результати.
    </i>
</p>

<!--
<p class="for_info_only">
    <strong>Як використовувати інтерактивну перевірку TryIt: </strong><br>
    <iframe width="560" height="315" src="//www.youtube.com/embed/fUFgb_LU2z4" frameborder="0" allowfullscreen></iframe>
</p>
-->

<p><strong>Передумови:</strong>
    <ul>
        <li>в іграх може бути тільки один переможець чи нічия;</li>
        <li>len(game_result) == 3;</li>
        <li>all(len(row) == 3 for row in game_result).</li>
    </ul>
</p>
