<div style="text-align: center">
        <img src="{{MEDIA}}title.png" style="max-height: 530px">
</div>

<p>
    Крестики и Нолики - это игра для двух игроков (Х и О), которые расставляют эти знаки на 3х3 поле.
    Игрок, который сумел разместить три своих знака в любой горизонтали, вертикали или диагонали -- выигрывает.
</p>

<p>
    Но сейчас мы не будем играть в эту игру. Вы будете судить игру, и оценивать результат.
    Вам дан результат игры, и вы должны решить, кто победил или что это ничья.
    Ваша функция должна вернуть <b>"X"</b> если победил Х-игрок и <b>"О"</b> если победил О-игрок. В случае ничьи, результат должен быть <b>"D"</b>.
</p>

<p style="text-align: center;">
    <img title="x-o-referee" src="{{MEDIA}}x-o-referee.png" alt="x-o-referee" style="max-height: 325px"/>
</p>


<p>
    Результаты игры представлены, как {% if is_js %}массив{% else %}список{% endif %} строк, где <b>"X"</b> и <b>"O"</b> - это отметки игроков и <b>"."</b> - это пустая клетка.
</p>


<p>
    <strong>Вх. данные:</strong> Результат игры, как {% if is_js %}массив{% else %}список{% endif %} строк (unicode).
</p>

<p>
    <strong>Вых. данные:</strong> <b>"X"</b>, <b>"O"</b> или <b>"D"</b>, как строка.
</p>


<div class="for_info_only">
    <p>
        <strong>Примеры:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p class="for_info_only">
    <strong>Как это используется:</strong>
    <i>
        Эта задача поможет вам лучше понять, как работать с матрицами и вложеными массивами.
    Ну и конечно, это будет полезно при разработке игр, так как надо уметь оценивать результаты.
    </i>
</p>

<!--
<p class="for_info_only">
    <strong>Как использовать TryIt: </strong><br>
    <iframe width="560" height="315" src="//www.youtube.com/embed/fUFgb_LU2z4" frameborder="0" allowfullscreen></iframe>
</p>
-->

<p><strong>Предусловия:</strong>
    <ul>
        <li>в играх может быть только один победитель или ничья;</li>
        <li>len(game_result) == 3;</li>
        <li>all(len(row) == 3 for row in game_result).</li>
    </ul>
</p>